--------------------------------------------------Dealing with categorical data-------------------------------------------------------------------------

#Categorical data:-(textual data) dividing data into groups
like gender->Male/Female,True/False

#Types of data:-
1.Nominal -> (numerical or textual):- Order does not matter
2.Ordinal :- Order matters

#Dataset containing textual data will not be accepted by ML 
NLP conerts this textual data into numerical data

Goal:- Text -->    ENCODERS    -->   Numeric
             (can be nominal/ordinal)
Nominal -> OneHotEncoder
ordinal -> OrdinalEncoder,TargetGuidedOrdinalEncoder,LabelEncoder

OneHotEncoder
Apple    |    Size     
--------------------
Delicious|    40
Sarampuri|    45
Gala     |    20
Golden   |    34
Redapple |    50

                      #Sparse Matrix will be created
               Delicious     Sarampuri  Gala    Golden  Redapple 
                   1              0         0       0       0
                   0              1         0       0       0
                   0              0         1       0       0
                   0              0         0       1       0
                   0              0         0       0       1

onehotencoder need to convert apple column to numeric
for this it will draw the columns equal to no of rows in apple

disad of OneHotEncoder:
1.Sparse matrix -> More zeroes than ones
2.Overfitting -> focus on training data very well and Not focus on testing data
3. if 1000 rows are there then 1000 extra columns will be added ->bulky data

Sklearn libraray (v imp)
OnehotEncoder

In [1]:
#Importing onehotencoder
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [2]:
#converting dictionary to dataframe
d={"fruits":["apple","banana","orange","apple","banana","orange"],
   "color":["Red","Yellow","Orange","Red","Yellow","Orange"],
   "size":[10,20,30,40,50,89]
  }

In [3]:
d

{'fruits': ['apple', 'banana', 'orange', 'apple', 'banana', 'orange'],
 'color': ['Red', 'Yellow', 'Orange', 'Red', 'Yellow', 'Orange'],
 'size': [10, 20, 30, 40, 50, 89]}

In [7]:
df=pd.DataFrame(d)
df

   fruits   color  size
0   apple     Red    10
1  banana  Yellow    20
2  orange  Orange    30
3   apple     Red    40
4  banana  Yellow    50
5  orange  Orange    89

In [8]:
#Since fruits amd color are textual we cant feed them directly to ML model
#we need to convert textual to numeric

In [9]:
#Creating the object of onehotencoder (now we can use encoder.fxn_name)
encoder=OneHotEncoder()

In [11]:
#fit->Not using value
#fit-tranform->Using values

encoder.fit_transform(df[["fruits"]])

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 6 stored elements and shape (6, 3)>

In [12]:
encoder.fit_transform(df[["fruits"]]).toarray()

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [13]:
encoded=encoder.fit_transform(df[["fruits"]])

In [14]:
encoded

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 6 stored elements and shape (6, 3)>

In [16]:
x=pd.DataFrame(encoded.toarray(),columns=encoder.get_feature_names_out())
x

   fruits_apple  fruits_banana  fruits_orange
0           1.0            0.0            0.0
1           0.0            1.0            0.0
2           0.0            0.0            1.0
3           1.0            0.0            0.0
4           0.0            1.0            0.0
5           0.0            0.0            1.0

In [19]:
print(df)
pd.concat((df,x),axis=1)

   fruits   color  size
0   apple     Red    10
1  banana  Yellow    20
2  orange  Orange    30
3   apple     Red    40
4  banana  Yellow    50
5  orange  Orange    89

   fruits   color  size  fruits_apple  fruits_banana  fruits_orange
0   apple     Red    10           1.0            0.0            0.0
1  banana  Yellow    20           0.0            1.0            0.0
2  orange  Orange    30           0.0            0.0            1.0
3   apple     Red    40           1.0            0.0            0.0
4  banana  Yellow    50           0.0            1.0            0.0
5  orange  Orange    89           0.0            0.0            1.0

In [21]:
encoded_2=encoder.fit_transform(df[["color"]])
encoded_2

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 6 stored elements and shape (6, 3)>

In [22]:
y=pd.DataFrame(encoded_2.toarray(),columns=encoder.get_feature_names_out())
y

   color_Orange  color_Red  color_Yellow
0           0.0        1.0           0.0
1           0.0        0.0           1.0
2           1.0        0.0           0.0
3           0.0        1.0           0.0
4           0.0        0.0           1.0
5           1.0        0.0           0.0

In [23]:
print(df)
pd.concat((df,x,y),axis=1)

   fruits   color  size
0   apple     Red    10
1  banana  Yellow    20
2  orange  Orange    30
3   apple     Red    40
4  banana  Yellow    50
5  orange  Orange    89

,fruits,color,size,fruits_apple,fruits_banana,fruits_orange,color_Orange,color_Red,color_Yellow
0,apple,Red,10,1.0,0.0,0.0,0.0,1.0,0.0
1,banana,Yellow,20,0.0,1.0,0.0,0.0,0.0,1.0
2,orange,Orange,30,0.0,0.0,1.0,1.0,0.0,0.0
3,apple,Red,40,1.0,0.0,0.0,0.0,1.0,0.0
4,banana,Yellow,50,0.0,1.0,0.0,0.0,0.0,1.0
5,orange,Orange,89,0.0,0.0,1.0,1.0,0.0,0.0

Ordinal Encoder/Label encoder

In [29]:
#Importing ordinalencoder 
import pandas as pd
from sklearn.preprocessing import OrdinalEncoder,LabelEncoder

In [31]:
#converting dictionary to dataframe
d={"Education":["Phd","PG","UG","School"],
   "Review":["Excellent","VeryGood","Good","Poor"],
   "Result":["Yes","No","Yes","No"]
  }
d

{'Education': ['Phd', 'PG', 'UG', 'School'],
 'Review': ['Excellent', 'VeryGood', 'Good', 'Poor'],
 'Result': ['Yes', 'No', 'Yes', 'No']}

In [32]:
df=pd.DataFrame(d)
df
#ed, rev -> ordinal 
#result -> label

  Education     Review Result
0       Phd  Excellent    Yes
1        PG   VeryGood     No
2        UG       Good    Yes
3    School       Poor     No

In [33]:
ord=OrdinalEncoder(categories=[["School","UG","PG","Phd"],
                               ["Poor","Good","VeryGood","Excellent"]]
                               )

In [34]:
x=["Education","Review"]

In [35]:
df[x]=ord.fit_transform(df[x])

In [36]:
print(df)

   Education  Review Result
0        3.0     3.0    Yes
1        2.0     2.0     No
2        1.0     1.0    Yes
3        0.0     0.0     No

In [37]:
le=LabelEncoder()
df["Result"]=le.fit_transform(df["Result"])
df

   Education  Review  Result
0        3.0     3.0       1
1        2.0     2.0       0
2        1.0     1.0       1
3        0.0     0.0       0

TargetEncoder/also called as mean encoder/categoryEncoder -> to prevent the bulky data in nominalencoder and focus on target/op feature instead of input feature
uses statistical feature that is mean to encode the data
disad:- Data leakage

In [43]:
import pandas as pd
df=pd.read_csv("tips.csv")

In [45]:
!pip install category_encoders

Collecting category_encoders
  Downloading category_encoders-2.9.0-py3-none-any.whl.metadata (7.9 kB)
Requirement already satisfied: numpy>=1.14.0 in e:\python\lib\site-packages (from category_encoders) (2.1.3)
Requirement already satisfied: pandas>=1.0.5 in e:\python\lib\site-packages (from category_encoders) (2.2.3)
Requirement already satisfied: patsy>=0.5.1 in e:\python\lib\site-packages (from category_encoders) (1.0.1)
Requirement already satisfied: scikit-learn>=1.6.0 in e:\python\lib\site-packages (from category_encoders) (1.6.1)
Requirement already satisfied: scipy>=1.0.0 in e:\python\lib\site-packages (from category_encoders) (1.15.3)
Requirement already satisfied: statsmodels>=0.9.0 in e:\python\lib\site-packages (from category_encoders) (0.14.4)
Requirement already satisfied: python-dateutil>=2.8.2 in e:\python\lib\site-packages (from pandas>=1.0.5->category_encoders) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in e:\python\lib\site-packages (from pandas>=1.0.5->category_encoders) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in e:\python\lib\site-packages (from pandas>=1.0.5->category_encoders) (2025.2)
Requirement already satisfied: six>=1.5 in e:\python\lib\site-packages (from python-dateutil>=2.8.2->pandas>=1.0.5->category_encoders) (1.17.0)
Requirement already satisfied: joblib>=1.2.0 in e:\python\lib\site-packages (from scikit-learn>=1.6.0->category_encoders) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in e:\python\lib\site-packages (from scikit-learn>=1.6.0->category_encoders) (3.5.0)
Requirement already satisfied: packaging>=21.3 in e:\python\lib\site-packages (from statsmodels>=0.9.0->category_encoders) (24.2)
Downloading category_encoders-2.9.0-py3-none-any.whl (85 kB)
Installing collected packages: category_encoders
Successfully installed category_encoders-2.9.0